/***********************************************************************
*       ADMIN/STYLE/ADMSTYLE.CSS                                       *
*       Style of administrative section                                *
*       used CSS 3                                                     *
*       from Kalanys@2010                                              *
*       license GNU/GPLv2                                              *
***********************************************************************/

@media screen {
    
    html { /* body (especially background) of admin pages */
        font-size: 1em; font-family: sans-serif; text-align: center; color: #000000; /* background-color: #d8d8d8;*/ height: 700px; /*background-image: url('/web/ms:sysimage/system/background.png');*/ top: 0px; left: 0px; width: 100%; height: 100%; position: absolute;
    }
    
    body {
        /*overflow: hidden;*/ top: 0px; left: 0px; width: 99%; height: 99%;
    }
    
    #bgimage {
        z-index: -999; min-height: 100%; min-width: 100%; height: auto; position: fixed;
        top: 0px; left: 0px; z-index: -1;
        background-image: url("/web/ms:sysimage/system/background.png");
    }
    
    #wrapper {
        position: relative; width: 95%; min-height: 90%;  margin: 0 auto;
    }
    
    div#main { /* body of working area */
        position: relative; top: 1.75em; /*background-color: rgba(198,198,198,0.3);*/
    }
    
    h1 {
        font-weight: bold; font-size: 1.4em;
    }
    
    p {
        text-align: center;
    }
    
    img {
        border-width: 0px;
    }
    
    a {
        color: #0000ff; text-decoration: none;
    }
    
    a:hover {
        text-decoration: underline;
    }
    
    table {
        margin-left: auto; margin-right: auto;
    }
    
    form {
        width: 90%; background-color: rgba(224,248,247,0.8); border: 4px outset #81f7f3; margin-left: auto; margin-right: auto; padding: 0px;
        border-radius: 5px;
    }
    
    fieldset {
        border: 0px; margin: 0 -0.65em;
    }
    
    form .title, legend {
        background-color: #0080C0; color: #FFFFFF; font-size: 1.1em; font-weight: bold; margin: 0; padding: 1%; text-shadow: 2px 2px #000000; width: 98%;
    }
    
    label {
        font: 1.2em bold; font-family: sans-serif; color: #0b3861; padding-left: 0.5em;
    }
    
    form input[type="text"],
    form input[type="password"] {
        font: 1em bold sans-serif; color: #0b3861; background-color: #f7f8e0; border-width: 1px; border-style: solid; border-color: #ffff00;
        border-radius: 4px;
    }
    
    form select {
        font: 1em bold sans-serif; color: #0b3861; background-color: #f7f8e0; border-width: 1px; border-style: solid; border-color: #ffff00; padding: 3px;
        border-radius: 8px;
    }
    
    form input[type="file"] {
        font: 1em bold sans-serif; color: #0b3861; background-color: #f7f8e0; border: 1px solid #ffff00;
        vertical-align : middle;
        border-radius: 4px;
    }
    
    form input[type="submit"] {
        font: 1.2em bold; font-family: sans-serif; color: #088a08; background-color:  #cef6ce; border-width: 1px; border-style: solid; border-color: #00ff00;
        padding: 0 0.5em 0 1.5em;
        background-image:url('/web/ms:sysimage/system/yes.png');
        background-repeat: no-repeat;
        background-size: 25px 25px;
        border-radius: 4px;
    }
    
    form input[type="reset"] {
        font: 1.2em bold; font-family: sans-serif; color: #8a0808; background-color:  #f6cece; border-width: 1px; border-style: solid; border-color: #ff0000;
        padding: 0 0.5em 0 1.5em;
        background-image: url('/web/ms:sysimage/system/no.png');
        background-repeat: no-repeat;
        background-size: 25px 25px;
        border-radius: 4px;
    }
    
    form#login {
        width: 20em;
    }
    
    form#login table td {
        text-align: center; width: 15em;
    }
    
    #user { /* user name */
        color: #088a08; background-color:  #cef6ce; /*border-width: 1px; border-style: solid; border-color: #00ff00; position: absolute; top: 0.5em; left: 85%; padding: 0.1em 0.1em;*/
/*        -moz-border-radius: 16px 4px 16px 4px;
        -webkit-border-radius: 16px 4px 16px 4px;
        border-radius: 16px 4px 16px 4px;*/
    }
    
    div#sys_ops { /* system menu */
        letter-spacing: 0.3px; text-align: center; position: absolute; top: 2.5em; left: 50%; padding: 0.1em 0.5em;
    }
    
    div#sys_ops a.logout {
        padding-left: 20px;
        background: #00ffff url('/web/ms:sysimage/system/log.png') no-repeat 2px 2px;
        background-size: 15px 15px;
    }
    
    div#sys_ops a.chsett {
        padding-left: 20px;
        background: #00ffff url('/web/ms:sysimage/system/sett.png') no-repeat 2px 2px;
        background-size: 15px 15px;
    }
    
    div#sys_ops a:hover {
        background-color: #0080ff;
    }
    
    div#modules { /* module menu */
        letter-spacing: 0.3px; text-align: center; position: absolute; top: 3em; left: 0.5em; padding: 0.1em 0.5em; width: 10em;
    }
    
    .panel_top {
        height: 2.2em; background-color: rgba(230,230,230,0.5); z-index: 100;
        position: fixed; top: 0; left: 0;
    }
    
    .panel {
        width: 100%; height: 2.2em; background-color: rgba(230,230,230,0.5); z-index: 100;
        border-radius: 5px;
    }
    
    .error_reporting {
        bottom: 0px;
    }
    
    .menu {
        font-style: normal; font-weight: bold; letter-spacing: 0.3px; text-align: center; text-transform: none;
    }
    
    .menu .prime {
        font-family: sans-serif; font-size: 1em; font-weight: bold; height: 1.4em; text-transform: none; padding: 2px 0px 0px 15px;
        border-radius: 5px;
    }
    
    .menu ul {
        padding: 0px; margin: 0.3em 0px; list-style-type: none; z-index: 200;
    }
    
    .menu ul li {
        float: left; height: 1.2em; width: 10em; text-align: center; text-transform: uppercase; padding: 0px 0.3em; margin-top: -9px;
    }
    
    .menu li.separator {
/*        background-color: rgba(230,230,230,0.5);*/
        background-image: url('/web/ms:sysimage/system/sep.png');
        background-repeat: no-repeat;
        background-position: 1em 0px;
        background-size: 8em 5px;
        text-transform: none;
        height: 7px;
    }
    
    .menu li.separator hr {
        display: none;
    }
    
    .menu ul a {
        font-size: 0.7em; font-style: normal; font-weight: bold; /*background-color: #00ffff;*/ color: #000000;
        display: block; height: 1.6em; padding: 0em 0em; /*border-style: solid; border-color: #006480; border-width: 3px;
        -moz-border-radius: 8px 0px;
        -webkit-border-radius: 8px 0px;
        border-radius: 8px 0px;
        -webkit-box-shadow: 2px 2px 5px #006480;
        -moz-box-shadow: 2px 2px 5px #006480;
        box-shadow: 2px 2px 5px #006480;*/
    }
    
    .menu a:hover {
        text-decoration: none; font-style: italic;
    }
    
    .menu ul a:hover {
        /*border-style: solid; border-color: #408080; border-width: 3px; color: #000000;*/ background-color: rgba(0,128,256,0.5);/* text-decoration: none; font-style: italic;*/
    }
    
    .menu ul ul {
        /* submenu style  */
        position: absolute; visibility: hidden; text-align: left; padding: 3px 0px; margin: 0px;
        display: block; width: 10em;
        background-color: rgba(230,230,230,0.9);
        border: 1px solid #000000;
        -webkit-box-shadow: 2px 2px 5px #848484;
        -moz-box-shadow: 2px 2px 5px #848484;
        box-shadow: 2px 2px 5px #848484;
    }
    
    .menu ul ul li {
        float: left;text-align: center; text-transform: uppercase; padding: 0px; height: 1.2em; margin: 0px;
/*        background-color: rgba(230,230,230,0.5);*/
    }
    
    .menu ul ul a {
        /* submenu style - links */
        display: block; height: 1.6em; padding: 0em;/* border-style: solid; border-color: #006480; border-width: 3px;*/ padding-left: 10px;
    }
    
    .menu ul li:hover>ul {
        visibility: visible;
    }
    
     .menu li.work a {
        background-color: #f5d0a9;
    }
    
    .menu li.dis a {
        background-color: #ff0000;
    }
    
    /*.menu a:hover {
        border-style: solid; border-color: #408080; border-width: 3px; color: #000000; background-color: #0080ff; text-decoration: none; font-style: italic;
    }*/
    
    .menu li.work a:hover {
        background-color: #f7be81;
    }
    
    .menu li.dis a:hover {
        background-color: #b40404;
    }
    
    .icon {
        padding-left: 20px;
        background-repeat: no-repeat;
        background-position: 0px;
        background-size: 20px 20px;
    }
    .menu_main {
        background-color: rgba(0,128,256,0.5); padding: 2px 5px 2px 10px; background-image: url('/web/ms:sysimage/system/kala.png'); background-position: 5px 2px; text-transform: none;
    }
    
    .menu_user {
/*        padding-left: 0px;
        padding-right: 20px;
        background-image: url('/web/ms:sysimage/system/user.png');
        background-position: 100px 0px;
        background-repeat: no-repeat;
        -moz-background-size: 20px 20px;
        -webkit-background-size: 20px 20px;
        background-size: 20px 20px;
        text-transform: none;*/
    }
    
    #main .rowmenu>ul {
        padding: 1em; margin: 0px; list-style-type: none;
    }
    
    #main .rowmenu>ul>li {
        float: left; height: 1.7em; width: 10em; text-align: center; text-transform: uppercase; padding: 0px 0.3em; margin-top: -10px;
    }
    
    #main .rowmenu>ul>li>a {
        font-size: 0.7em; font-style: normal; font-weight: bold; background-image: url('/web/ms:sysimage/system/submnubt.png'); color: #000000;
        display: block; height: 1.5em; padding: 0.1em 0.4em; border-style: solid; border-color: #808080; border-width: 0px 3px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }
    
    #main .rowmenu>ul>li>a:hover {
        /*border-style: solid; border-color: #c0c0c0; */color: #ffffff;/* background-color: rgb(0, 128, 256);*/ text-decoration: none;
        font-style: italic; background-image: url('/web/ms:sysimage/system/submnubtd.png');
    }
    
    #main .rowmenu>ul>li:hover>ul {
        visibility: visible;
    }
    
    #main .rowmenu>ul>ul {
        width: 9em;
    }
    
    #main .submenu ul {
        font-style: normal; font-weight: bold; letter-spacing: 0.3px; text-align: center; text-transform: none;
        /* submenu style  */
        position: absolute; visibility: hidden; text-align: left; padding: 3px 0px; margin: 0px;
        display: block; width: 10em;
        background-color: rgba(230,230,230,0.9);
        border: 1px solid #000000;
        -webkit-box-shadow: 2px 2px 5px #848484;
        -moz-box-shadow: 2px 2px 5px #848484;
        box-shadow: 2px 2px 5px #848484;
    }
    
    #main .submenu ul li {
        float: left;text-align: center; text-transform: uppercase; padding: 0px; height: 1.2em; margin: 0px;
/*        background-color: rgba(230,230,230,0.5);*/
    }
    
    #main .submenu ul a {
        /* submenu style - links */
        display: block; height: 1.6em; padding: 0em;/* border-style: solid; border-color: #006480; border-width: 3px;*/ padding-left: 10px;
    }
    
    .select_dir, .select_file {
        text-align: left;
    }
    
    .select_dir ul, .select_file ul {
        margin-left: -35px;
    }
    
    .select_dir li, .select_file li {
        font-size: 0.9em; padding-left: 20px; list-style-type: none; 
        background: url('/web/ms:sysimage/system/line.png') no-repeat 0px -5px, url('/web/ms:sysimage/system/sub.png') repeat-y 0px 0px;
    }
    
    .select_dir label {
        padding-left: 20px; background: url('/web/ms:sysimage/system/dir.png') no-repeat 0px -2px;
        line-height: 1.8em;
        -moz-background-size: 20px 20px;
        -webkit-background-size: 20px 20px;
        background-size: 20px 20px;
    }
    
    .select_file label {
        padding-left: 25px; background: url('/web/ms:sysimage/system/file.png') no-repeat 1px 0px;
        -moz-background-size: 20px 20px;
        -webkit-background-size: 20px 20px;
        background-size: 20px 20px;
    }
    
    .select_file label.dir {
        padding-left: 25px; background: url('/web/ms:sysimage/system/dir.png') no-repeat 1px 0px;
        -moz-background-size: 20px 20px;
        -webkit-background-size: 20px 20px;
        background-size: 20px 20px;
    }
    
    .not_wide {
        display: none;
    }
    
    #last_oper, #chdir tr, #chdir thead tr {
        font-size: 1em; font-style: normal; background-color: rgba(216,216,216,0.7); width: 90%;
        display: block; padding: 0.2em 0.4em; border-style: solid; border-color: #6e6e6e; border-width: 4px;
        -moz-border-radius: 32px;
        -webkit-border-radius: 32px;
        border-radius: 32px;
    }
    
    #chdir tr, #chdir thead tr {
        width: 30em;
    }
    
    #use_scripting {
        background-image: url('/web/ms:sysimage/system/script_no.png');
        background-position: 0px 5px;
        background-repeat: no-repeat;
        padding: 0px 10px;
        -moz-background-size: 20px 20px;
        -webkit-background-size: 20px 20px;
        background-size: 20px 20px;
        text-transform: none;
    }

    .table-bordered thead th {
        height: 2em;
    }

    .table-bordered thead input {
        height: 1.3em;
        width: 80%;
    }

    .table-bordered th, .table-bordered td {
        border: solid #f0f0f0;
        border-width: 0px 1px 1px 0px;
    }

    .pagination {
        width: 80%;
        background-color: rgba(224,248,247,0.8);
        border: 4px outset #81f7f3;
        margin: 0.5em auto 1em auto;
        padding: 0.5em;
        border-radius: 5px;
        height: 1.4em;
    }

    .pagination li {
        width: 4em;
        list-style-type: none;
        float: left;
    }

    .pagination a, .listtable thead a {
        padding: 5px 20px;
    }

    a.button {
        padding: 5px 10px;
    }

    .pagination a, .listtable thead a, a.button {
        background-color: rgba(224,248,247,0.8);
        border-radius: 7px;
    }

    .pagination a:hover, .listtable thead a:hover, a.button:hover {
        color: #ffffff;
        background-color: rgba(0,128,256,0.5);
        text-decoration: none;
    }

    a.button-edit {
        color: #ffffff;
        background-color: #088a08;
        padding-left: 15px;
    }

    a.button-edit:hover {
        background-color: #cef6ce;
    }

    a.button-delete {
        color: #ffffff;
        background-color: rgba(255,0,0,0.8);
        padding-right: 15px;
    }

    a.button-delete:hover {
        background-color: rgba(255,16,16,0.5);
    }

    .xdebug-var-dump {
        text-align: left;
        background-color: #f0f0f0;
        padding: 10px;
    }
    
} /* media screen */
