    <div id="telo">
      <div id="head">
        <h1 id="title">
          {SITE_NAME}
        </h1>
{LOGO}{/LOGO}
      </div>
      <div id="to_menu"><a href="#menu">{TO_MENU}</a></div>
      <div id="page_iframe">
        <div id="iframed_page">
          {CONTENT}
        </div>
      </div>
      <div id="contact">
{CONTACT}{/CONTACT}
      </div>
      <div id="noscript">
        <noscript>
          <hr>
          {NOSCRIPT}
          <hr>
        </noscript>
      </div>
{MENU}{/MENU}
    </div>
